body {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomargin {
    margin-top: 0;
    margin-bottom: 5px;
}

a {
    padding: 0 20px;
    margin: 0;
    margin-bottom: 5px;
}

.email {
    padding: 0;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-photo {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

h2 {
    display: inline-block;
}

.centered-heading {
    text-align: center;
}

.button {
    background-color: #e1e9f8;
    border: 2px solid #9eb9e9;
    color: white;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}

.button1 {
    background-color: #e1e9f8;
    border: 2px solid #880531;
    color: white;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}
      
.button:hover,
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3:hover {
    .language {
        height: 53px;
    } 
}

.button a {
    margin-top: 5px;
    text-decoration: none;
    display: block;
}

.button1 a {
    margin-top: 5px;
    text-decoration: none;
    display: block;
    color: #880531;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.program-column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    background-color: #e1e9f8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-title {
    margin-bottom: 0px;
    margin-top: 0px;
}

.about-person {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #880531;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-time {
    margin-bottom: 0;
    color: #880531;
    font-weight: bold;
    font-style: italic;
}

.image {
    height: auto; /* Adjust the height as needed */
    max-width: 100%;
}

.pum {
    height: 250px;
    width: auto;
    max-width: 100%;
}

.main-place {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.text {
    text-align: left; /* Set text alignment to the left */
    margin-right: 300px; /* Reduce the right margin to push the content to the left */
    width: 70%; /* Adjust the width of the text container */
}


.image-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    max-width: 100%; /* Ensure it takes the full width for alignment */
    height: auto;
}

.framed {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2 * var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1 * var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
    width: 80%;
}

.wit {
    margin-top: 0px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.quest {
    text-align:  center;
}

.responsive-container {
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (change as needed) */
    position: relative;
    height: 0;
}

.responsive-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#mobile-link {
    display: none; /* Initially hide on larger screens */
}


@media screen and (max-width: 768px) {
    
    header, footer {
        flex-direction: column;
        text-align: center;
    }

    .button, .button1 {
        display: block; /* Display the buttons as block elements to stack them in one column */
        width: auto; /* Reset the width to auto (optional) */
    }
    
    nav {
        flex-direction: column; /* Stack the buttons in a column */
        align-items: center; /* Center the buttons horizontally */
    }

    .about-main {
        flex-direction: column;
    }

    .program-column {
        flex: 100%;
        text-align: center;
    }

    .main {
        text-align: center;
    }

    .main-place {
        flex-direction: column;
        text-align: center;
    }

    .text {
        width: 100%; /* Full width on small screens */
        margin-right: 0px;
        text-align: center;
    }

    #embedded-form {
        display: none; /* Hide on smaller screens */
    }

    #mobile-link {
        display: block; /* Show on smaller screens */
        text-align: center; /* Center the link */
        margin-top: 10px; /* Add some spacing */
    }

}
