body {
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg,#a9c9ff 0,#ffbbec 100%);
    min-height: 100vh;
    font-family: 'Quantico', sans-serif;
}

.main {
    padding: 20px;
}

a {
    padding: 0 20px;
    margin: 0;
    margin-bottom: 5px;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-photo {
    display: inline-block;
    margin-right: 10px;
}

h2 {
    display: inline-block;
}

.centered-heading {
    text-align: center;
}

.button{
    padding: 20px;
    margin: 0 10px;
    --s: 3px; /* control the size */
    padding: var(--s);
    border: calc(2 * var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1 * var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
}

/* BUTTON EDITING
.button {
    background-color: #4CAF50; 
    margin-right: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: white; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  } 
  */

.button a {
    text-decoration: none;
    display: block;
}

.button a span {
    display: block;
    text-align: center;
    margin-bottom: 1px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.program-column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    background-color: #d5e4ff;
}

.about-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-title {
    margin-bottom: 0px;
}

.about-person {
    margin-top: 0px;
}

.image {
    height: 400px; /* Adjust the height as needed */
    width: auto;
    max-width: 100%;
}

.pum {
    height: 250px;
    width: auto;
    padding-right: 20px;
}

.main-place {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.text {
    margin-right: 20px;
    width: 70%; /* Adjust the width of the text container */
}

.image-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    width: 100%; /* Ensure it takes the full width for alignment */
}

.framed {
    margin: 0 10px;
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2 * var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1 * var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
}

.wit {
    margin-top: 0px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.quest {
    text-align:  center;
}


@media screen and (max-width: 768px) {
    header, footer {
        flex-direction: column;
        text-align: center;
    }

    .button {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .about-main {
        flex-direction: column;
    }

    .program-column {
        flex: 100%;
    }
}
